table {margin-bottom:5px;background-color: #fff!important;}
.noborder {margin-bottom:inherit!important;}
.size{
  font-size: xx-large;
}
.pdf-style {
  margin-top: 30px !important;
}
.pdf-style, .pdf-style table, .pdf-style .ms  {
  font-size:18px !important; /* Adjust as needed */
  font-weight: 600;
}
.pdf-style h1  {
  font-size:36px !important; /* Adjust as needed */
}
.pdf-style h3  {
  font-size:30px !important; /* Adjust as needed */
}
.pdf-style .crs  {
  font-size:28px !important; /* Adjust as needed */
}
.pdf-style .photo_student {
  width:150px;
  height: auto;
}
h6 {
    font-size: 13px;
    margin-bottom: 0px;
    text-transform: uppercase;
    background: #d6d6d845;
    display: flex;
    justify-content: start;
    padding: 4px 6px 3px 10px;
    color: #141313;
    font-weight: 600;
	border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-top: 1px #ccc solid;
}
  h3 {
  font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #2b2d44;
    margin-bottom: -16px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #333 solid;
    width: 100%;
    /* border-radius: 50px; */
    /* padding: 5px 15px; */
   
   
  }
  .main2 h1,  .main2 h2, .main2 h3, .main2 h4, .main2 h5, .main2 h6, .main2 table td {
    font-family: 'Roboto Condensed'!important;

  }
.main2 {
	width:100%;
	box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	/*background:url(../images/bg.jpg) no-repeat center top;*/
	background-size:cover;
    background-color: #fff;
    font-family: 'Roboto Condensed'!important;
	font-size:12px!important;
	color:#333!important;
	    font-weight: 400;
	
	}
	
.hdng_warper {
	text-align:center;
	}
.topicPageBreak {
		page-break-inside:avoid;
		
	}
	table {
	    border-collapse: collapse;
		
	}
  @media only screen and (min-width:632px){
    .main2 {
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }

  

  }
  @media all {
    .page-break {
      display: none;
    }
  }

  @media print {
    .page-break {
      display: block;
      page-break-before: always;
    }
	.main {
		width:100vw;
		box-shadow: inherit;
		padding:0;
		}
    body, table {
      font-size:80px!important;
    }
    
  } 

  body {
   font-family: 'Roboto Condensed';
	font-size:12px!important;
	color:#333!important;
	margin:0;
	padding:0;
	    font-weight: 400;
  }
b, th,strong, .bold {
	font-weight:600;
	}
	
  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .inputstyle {
    width: 32px;
  }

  /*ol {
    counter-reset: list;
    padding: 0;
    margin: 0px;
  }

  ol>li {
    list-style: none;
    float: left;
    padding: 0px 10px 10px 0px;
  }

  ol>li:before {
    content: counter(list, decimal) ") ";
    counter-increment: list;
    font-weight: bold;
  }*/

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
    font-size: 12px;
    font-weight: bold;
  }

  table {
    page-break-inside: auto;
    font-size: 12px;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto
  }

  #pageFooter {
    display: table-footer-group;
    float: left;
  }

  #pageFooter:after {
    counter-increment: page;
    content: counter(page);
    padding-left: 180px;
  }


.gap p {
	margin-bottom:5px;
	margin-top:5px;
	}
	.ms {
		padding-left:8px!important;
		}
  .pcard table,
  td,
  th {
    border: 1px #ccc solid;
    border-collapse: collapse;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    padding-bottom: 3px;

  }
.noborder td, .noborder th
   {
	border-width:0!important;
	padding:0!important;
	}
	.bg_bar {
		background: #ECEDFD!important;
		}
		
		.image_thumb {
			border: 1px #ccc solid;
    padding: 2px;
    border-radius: 4px;

			}
			
			
.photBlock {
    border-bottom: 1px #333 dashed;
    padding-top: 10px;
    padding-bottom: 14px;
}
.mt{
	margin-top:24px;
	}
.hstack{
    display: flex;
    width: 100%;
    justify-content: space-between;
    column-gap: 20px;
}
.hstack2{
    display: flex;
    width: 100%;
    column-gap: 15px;
}

.custome_class{
  
  font-size: 13px;
  background: #d6d6d845;
  color: #141313;
}
.hggfd_class{

  font-size: 13px;
  margin-bottom: 0px;
  background: #d6d6d845;
  display: flex;
  justify-content: space-between;
  padding: 4px 6px 3px 10px;
  color: #141313;
  font-weight: 600;
	border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-top: 1px #ccc solid;
}
.crs{
    font-size: 20px;
    margin-top: 22px;
    border-bottom: 3px #ffb180 solid;
    padding-bottom: 10px;
    margin-bottom: 16px;
    font-weight: 500;
   /* font-family: arial;*/
	color:#334657;
    width: 100%;
    text-align: center;
}