.validation-error-messages {
  color: #ff4d4d; 
  font-size: 14px;
  margin-top: 5px;
}

.validation-error {
  /* margin: 3px 0; */
  font-family: Arial, sans-serif;
}

.modal-footer {
  border-top: none; /* Optional: Remove border above footer */
  padding: 1rem;
}
