<main id="main" class="main">
    <section class="section dashboard">
        <div class="row">
            <div class="col-md-12" *ngIf="show_list == 0">
                <form [formGroup]="qschema_form" (ngSubmit)="onSubmit()">
                    <div formArrayName="question_schema">
                        <div class="border rounded-3 mb-3 p-3 bg-white align-items-center">
                            <div class="row">
                                <div class="col-md-10 col-10 text-start">
                                    <h5 class="card-title m-0 p-0"> Question Paper Model </h5>
                                </div>
                                <div class="col-md-2 col-2 text-end ">
                                    <button class="btn btn-primary btn-sm" (click)="get_list()">List</button>
                                </div>
                            </div>
                            <hr />
                            <div *ngFor="let i of question_schema_fun().controls; let q_index=index ; let last=last"
                                [formGroupName]="q_index"
                                [ngClass]="last ? 'row mb-3 pb-2' : 'row mb-3 border-bottom pb-2'">
                                <div class="col-md-1 align-self-center text-center">
                                    <label for=""> Group {{q_index + 1}} </label>
                                </div>

                                <div class="col-md-3 align-self-center">
                                    <label class="form-label">Maximum Questions</label>
                                    <input type="text" class="form-control" formControlName="max_questions"
                                        placeholder="Eg: 8" onkeypress="return event.charCode>47 && event.charCode<58">
                                </div>
                                <div class="col-md-3 align-self-center">
                                    <label class="form-label">Compulsory Questions</label>
                                    <input type="text" class="form-control" formControlName="comp_questions"
                                        placeholder="Eg: 5" onkeypress="return event.charCode>47 && event.charCode<58">
                                </div>
                                <div class="col-md-2 align-self-center">
                                    <label class="form-label">Marks</label>
                                    <input type="text" class="form-control" formControlName="marks_per_questions"
                                        placeholder="Eg: 5" onkeypress="return event.charCode>47 && event.charCode<58"
                                        (input)="getTotalMarks(q_index)">
                                </div>
                                <div class="col-md-2 align-self-center">
                                    <label class="form-label">Total Marks</label>
                                    <input type="text" class="form-control" formControlName="total_marks"
                                        placeholder="Eg: 25" onkeypress="return event.charCode>47 && event.charCode<58"
                                        readonly>
                                </div>

                                <div class="col-md-1 text-end">
                                    <div class="hstack g-3"
                                        style="column-gap: 15px; justify-content: end;padding-top: 36px;">
                                        <article *ngIf="last">
                                            <button
                                                class="bi bi-plus d-inline-flex  addBt fw-semibold text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2 "
                                                (click)="add_question_schema()">
                                            </button>
                                        </article>
                                        <article *ngIf="question_schema_fun().length > 1">
                                            <div (click)="delete_question_schema(q_index)" style="cursor: pointer;">
                                                <i class="fa fa-trash d-flex addBt  text-danger bg-danger bg-opacity-10 border border-danger border-opacity-10 rounded-2 px-2"
                                                    style="font-size: 16px;"></i>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary btn-sm px-4"
                                    [disabled]="qschema_form.invalid">Next</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="card border rounded-3" *ngIf="total_questions.length>0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 text-start">
                                <h5 class="card-title">Questions Entry</h5>
                            </div>
                            <div class="col-md-4 text-end mt-2">
                                <label class="text-muted"> Total Questions: <b class="text-primary">
                                        {{total_questions.length}} </b></label>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Group Id</th>
                                    <th>Unit/Section</th>
                                    <th>Question No</th>
                                    <th>Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of total_questions; let i=index">
                                    <th class="text-center"> {{i+1}} </th>
                                    <td class="text-center"> Group {{x.ques_group_name + 1}} </td>
                                    <td> <input type="text" class="form-control" [(ngModel)]="x.section"
                                            placeholder="Enter Unit/Section Name" (change)="check_section_name(x, x.section)" > </td>
                                    <td> <input type="text" class="form-control" [(ngModel)]="x.ques_no"
                                            placeholder="Enter Question No."> </td>
                                    <td>{{x.marks_per_ques}} </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-4 text-start">
                                <b for=""> Question Paper Model Name </b>
                                <input type="text" class="form-control" [(ngModel)]="ques_paper_name"
                                    placeholder="Enter Question Paper Model Name">
                                <button class="btn btn-success btn-sm mt-2" (click)="on_Ques_schema_add()"
                                    [disabled]="ques_paper_name==null">Submit</button>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-2 text-end">
                                <b for="">  Total Marks: </b>
                                <input type="text" class="form-control" [(ngModel)]="total_quesmarks" readonly>
                                <!-- <label class="text-muted"> Total Marks: <b class="text-primary">{{total_quesmarks}}</b>
                                </label> -->
                            </div>

                        </div>
                        <div class="text-center">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" *ngIf="show_list == 1">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 col-10 text-start">
                                <h5 class="card-title"> Question Model List </h5>
                            </div>
                            <div class="col-md-2 col-2 text-end mt-3">
                                <button class="btn btn-success btn-sm" (click)="show_list = 0">Add</button>
                            </div>
                        </div>
                        <table class="table table-bordered table-sm" *ngIf="qschema_list.length > 0">
                            <thead class="table-primary">
                                <tr class="text-center">
                                    <th>S.No</th>
                                    <th>Model Id</th>
                                    <th>Model Name</th>
                                    <th>Total Marks</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngFor="let x of qschema_list; let i=index">
                                    <th> {{i+1}} </th>
                                    <td> {{x.modelId}} </td>
                                    <td class="text-start"> {{x.modelName}} </td>
                                    <td> {{x.totalMarks}} </td>
                                    <td>
                                        <i class="bi bi-eye-fill text-primary pointer-class" data-bs-toggle="modal"
                                            data-bs-target="#qschema" (click)="view_details(x)"></i>
                                    </td>
                                    <td> <i class="bi bi-trash text-danger pointer-class" (click)="onDelete(x)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5 *ngIf="qschema_list.length == 0" class="text-danger text-center"> No Data Found</h5>
                    </div>

                    <div class="modal fade modal-lg" id="qschema" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-10 text-start">                                    
                                            <h5 class="card-title" id="exampleModalLabel">{{selected_qschema?.modelName}}</h5>
                                        </div>
                                        <div class="col-md-2 text-end" style="font-size: 20px !important;" >
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-sm">
                                               <tbody>
                                                <tr>
                                                    <th> Model Schema </th>
                                                    <td>
                                                        <table class="table table-bordered table-sm">
                                                            <thead class="table-primary">
                                                                <tr class="text-center">
                                                                    <th>S.No.</th>
                                                                    <th>Group</th>
                                                                    <th>Maximum Questions</th>
                                                                    <th>Compulsory Questions</th>
                                                                    <th>Marks per Question</th>
                                                                    <th>Total Marks</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr
                                                                    *ngFor="let x of selected_qschema?.questionSchema; let i=index">
                                                                    <th> {{i+1}} </th>
                                                                    <td> {{x.ques_group_id}} </td>
                                                                    <td> {{x.max_questions}} </td>
                                                                    <td> {{x.comp_questions}} </td>
                                                                    <td> {{x.marks_per_questions}} </td>
                                                                    <td> {{x.total_marks}} </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="text-end" colspan="5"> Total</th>
                                                                    <th>{{selected_qschema?.totalMarks}}</th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th> Model Description </th>
                                                    <td>
                                                        <table class="table table-bordered table-sm">
                                                            <thead class="table-primary">
                                                                <tr class="text-center">
                                                                    <th>S.No.</th>
                                                                    <th>Group</th>
                                                                    <th>SECTION/UNIT</th>
                                                                    <th>Question Number</th>
                                                                    <th>Marks per Question</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr
                                                                    *ngFor="let x of selected_qschema?.questionDescription; let i=index">
                                                                    <th> {{i+1}} </th>
                                                                    <td> {{x.ques_group_id}} </td>
                                                                    <td> {{x.section}} </td>
                                                                    <td> {{x.ques_no}} </td>
                                                                    <td> {{x.marks_per_ques}} </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="text-end" colspan="4"> Total</th>
                                                                    <th>{{selected_qschema?.totalMarks}}</th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                               </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm"  data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>