<div class="">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <button class="btn btn-light text-dark mt-3" *ngIf="showPrintButton && show_error != ''" (click)="printDiv()">
            <i class="bi bi-printer-fill p-1"></i>Print
          </button>
        </div>
      </div>
      <div id="print_div">

        <h5 class="text-center text-success m-2" *ngIf="show_error === null && !students.length">
          <strong>Loading..!</strong>
        </h5>

        <div *ngIf="show_error === null && students.length > 0">
          <div class="barcode-container-wrapper">
            <div *ngFor="let student of students; let i = index">
              <div class="barcode-container">
                <svg id="barcode-{{ student.student_no }}" class="barcode-svg" viewBox="0 0 332 142"
                  xmlns="http://www.w3.org/2000/svg" version="1.1">
                  <rect x="0" y="0" width="332" height="95px" style="fill: #ffffff"></rect>
                  <!-- <g transform="translate(10, 10)" style="fill: #000000; font-weight: bold">
                     Dynamic barcode rectangles 
                  </g> -->
                  <text style="border: 1px green solid; font-weight: bold" class="barcode-text" text-anchor="middle">
                    {{ student.barcode_data }}
                  </text>
                </svg>
                <!-- <label class="mt-4 text-dark fw-bold">{{ students.length > 0 ? students[0].section_name : "" }}</label> -->
              </div>
              <p class="section-name text-dark">{{ student.barcode_info }}</p>

            </div>
            <!-- <div class="barcode-container" style="text-align: center">
              <label class="mt-4 text-dark fw-bold">Section :
                {{ students.length > 0 ? students[0].section_name : "" }}</label>
            </div>
            <div class="barcode-container" style="text-align: center">
              <label class="text-dark fw-bold mt-4" style="margin-left: 24px">No of Students: {{ students.length
                }}</label>
            </div> -->
          </div>
        </div>
        <h5 class="text-center text-danger m-2" *ngIf="show_error !== null">
          *** {{show_error}} ***
        </h5>
      </div>
    </div>
  </div>
</div>