<table class="table table-bordered table-sm">
    <thead class="table-primary">
      <tr class="text-center">
        <th>S.No</th>
        <th>Campus</th>
        <th>Upload</th>
        <th>Faculty Alloted</th>
        <th>Faculty Pending</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <th>1</th>
        <td class="text-start">ADC KKD</td>
        <td>100</td>
        <td>82</td>
        <td>18</td>
      </tr>
      <tr class="text-center">
        <th>2</th>
        <td class="text-start">ADC RJY</td>
        <td>100</td>
        <td>20</td>
        <td>80</td>
      </tr>
      <tr class="text-center">
        <th>3</th>
        <td class="text-start">ADC VZM</td>
        <td>100</td>
        <td>100</td>
        <td>0</td>
      </tr>
      <tr class="text-center">
        <th>4</th>
        <td class="text-start">ADCW KKD</td>
        <td>100</td>
        <td>90</td>
        <td>10</td>
      </tr>
      <tr class="text-center">
        <th>5</th>
        <td class="text-start">ADC AMP</td>
        <td>100</td>
        <td>41</td>
        <td>59</td>
      </tr>
    </tbody>
  </table>