<div class="card p-4">
    <div class="row">
        <div class="col-md-12">
            <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <img class="w-100 mb-0" style="margin-top: -20px;margin-bottom: -70px;" src="assets/img/payment_success.jpg" />
                        
                        <h5 class="text-center text-danger m-3" *ngIf="!show_status">
                            Please wait while we are generating your receipt...!
                        </h5>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>